[Unit]
Description=Astro Pi Mount Controller
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/astropi
ExecStart=/bin/sh /home/astropi/start.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target